.head{
    color: #AF42AE;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 32px;
}
pre{
    background-color: #BC69AA;
    color: white;
    text-align: center;
}
.body{
    border: 5px;
    border-color: #BC69AA;
    border-style: solid;
} 
ul{
    border: 5px;
    border-color: #C585B3;
    border-style: solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#C585B3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: darkblue;
  }
  .bodis{
    background-color: #D6BBC0;

  }

  p{
    color: white;
  }